<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <mapper namespace="com.lolcomm.mapper.adminMapper">
    <!-- 회원 강제 탈퇴(id입력시) -->
    <delete id="delete">
    delete from lolc_member
    where id = (#{id})    
    </delete>
    
    <!-- 회원 정보 찾기 관련 mapper -->

    <select id="selectList" resultType="com.lolcomm.domain.MemberVO">
        select id, nick, reg_date
        from lolc_member
        where id = (#{id})
    </select>
    
    </mapper>